@model AspNetCoreProject.Models.FlightInfo

@{
    ViewData["Title"] = "Delete";
}

    <h2>Delete FlightInfo</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FlightInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightNunber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightNunber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TakeOff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TakeOff)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Landing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Landing)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FlightID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
